.green{
    color: green;
}

.blue {
    color: blue;
}

.messageButton{
    border: none;
    cursor: pointer;
    color: inherit;
    font-weight: bold;
    height: 65px;
    background-color: transparent;
}

.messageWrapper{
    display: flex;
    flex-direction: row;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    padding: 0px 15px;
    top: 20%;
    gap:10px;
    z-index: 1;

}

.red {
    color: red;
    background-color: #f8d7db;
}

.green{
    background-color: #d4edda;
    color: green;
}



